@import url('https://fonts.googleapis.com/css2??family=Caveat:wght@400..700&display=swap');




body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: 1000px;
  background-image: url("https://www.colorhexa.com/f4e4c9.png");
  background-position: center center;
}

.paper {
  background-image: url("https://www.shutterstock.com/image-vector/grid-square-graph-line-full-600nw-1362896384.jpg");
  background-size: 500px;
  background-position: center center;
  padding: 20px 100px;
/*  min-width: 800px; */
  
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
  
  position: absolute;
}

.paper.heartImage {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}

.paper.image {
  padding: 10px;
}
.paper.image p {
  font-size: 30px;
}

img {
  max-height: 200px;
  width: 100%;
  user-select: none;
}

.paper.heartImage::after {
  content: "";
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/019/016/921/small/i-love-you-free-png.png');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

p {
  font-family: 'Fredoka', sans-serif;
  font-size: 50px;
  color: rgb(0,0,100);
  opacity: 0.75;
  user-select: none;
  
  // filter: drop-shadow(2px 1.5px 1px rgba(0,0,105,0.9));
}

/*#####*/

.heart-rain {
  position: absolute;
  color: pink;
  opacity: .5;
  font-size: 40px;
  -webkit-animation: falling 6s infinite linear;
  animation: falling 6s infinite linear;
}

.heart-rain:nth-of-type(1) {
  bottom: 1200px;
  left: 2%;
}

.heart-rain:nth-of-type(2) {
  bottom: 500px;
  left: 15%;
}

.heart-rain:nth-of-type(3) {
  bottom: 1000px;
  left: 50%;
}

.heart-rain:nth-of-type(4) {
  bottom: 475px;
  left: 80%;
}

.heart-rain:nth-of-type(5) {
  bottom: 600px;
  left: 40%;
}

.heart-rain:nth-of-type(6) {
  bottom: 1200px;
  left: 60%;
}

.heart-rain:nth-of-type(7) {
  bottom: 1400px;
  left: 60;
}

@-webkit-keyframes falling {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    bottom: -25px;
    transform: rotate(-360deg);
  }
}

@keyframes falling {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    bottom: -25px;
    transform: rotate(-360deg);
  }
}


.heart {
  position: relative;
  width: 100px;
  height: 90px;
  margin: 0 auto;
  cursor: pointer;
  transform-origin: center;
}

.heart--default {
  animation: heartbeat 1s infinite;
}

.heart:before, .heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #fff;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

/* .heart:hover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translate(50px, -50px);
    box-shadow: 0 0 10px 0 white;
} */

@keyframes heartbeat {
  0% {
    transform: scale( .75);
  }
  20% {
    transform: scale( 1);
  }
  40% {
    transform: scale( .75);
  }
  60% {
    transform: scale( 1);
  }
  80% {
    transform: scale( .75);
  }
  100% {
    transform: scale( .75);
  }
}

.heart--clicked {
  animation: heartbeatClicked 1s ease-in infinite;
}

@keyframes heartbeatClicked {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(2);
  }
  20% {
    transform: scale(4);
  }
  40% {
    transform: scale(5);
  }
  50% {
    transform: scale(8);
  }
  60% {
    transform: scale(10);
  }
  70% {
    transform: scale(13);
  }
  80% {
    transform: scale(15);
  }
  90% {
    transform: scale(30);
  }
  100% {
    transform: scale(40);
  }
}

.hidden {
  display: none;
}